.env
# Dependencies
node_modules/
backend/venv/
__pycache__/
*.pyc

# Data & Uploads
backend/uploads/*
!backend/uploads/.keep
*.parquet
*.db
chroma_db/
minio_data/

# System
.DS_Store
.idea/
.vscode/
